/*  This is a starter page where a project is initialized from. Includes CSS Reset, initial 
    settings for plug-ins, and base styles to be applied after the reset. */

/* ============================================================
   Imports - Compass (Reset, CSS3, Utilities, Susy, Breakpoint).
   ============================================================ */

@import "compass";                  // Import Compass Framework into Project.
@import "compass/reset";            // CSS Reset.
@import "susy";                     // Importing Susy Grid Framework into Project.
@import "breakpoint";               // Importing Breakpoint Compass plug-in.

/* ============================================================
   Susy Settings.
   ============================================================ */

$susy: (
  columns: 4,                       // Start with 4 columns in grid.
  global-box-sizing: border-box,    // Set up Border Box sizing.
  gutters: 1/4,                     // Column gutters 1/4 size of columns.
);

@include global-box-sizing;

/* ============================================================
   Typefaces / Fonts.
   ============================================================ */

$oswald: 'Oswald', arial, sans-serif;
$droid-serif: 'Droid Serif', georgia, serif;

@font-face {
    font-family: 'Comic Serif Pro';
    src:url('../typeface/hvd_comic_serif_pro-webfont.eot');
    src:url('../typeface/hvd_comic_serif_pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('../typeface/hvd_comic_serif_pro-webfont.woff2') format('woff2'),
        url('../typeface/hvd_comic_serif_pro-webfont.woff') format('woff'),
        url('../typeface/hvd_comic_serif_pro-webfont.ttf') format('truetype'),
        url('../typeface/hvd_comic_serif_pro-webfont.svg#hvd_comic_serif_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ============================================================
   Breakpoint Variables.
   ============================================================ */

$smallest-width: 300px;
$small-width: 480px;

/* ============================================================
   Color Variables.
   ============================================================ */

$red: #DF4949;
$light-red: #F35D5D;

$orange: #E27A3F;
$light-orange: #F68E53;

$yellow: #EFC94C;
$light-yellow: #FFDD60;
$lightest-yellow: #FFFF9C;

$green: #45B29D;
$light-green: #59C6B1;

$blue: #334D5C;
$light-blue: #476170;

$black: #3C3C3C;

$white: #FFFFFF;

$light-grey: #F3F3F3;

/* ============================================================
   Base Styles.
   ============================================================ */

html, body {
    font-size: 16px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
}

h1 {
    font-size: 1.6em;
    margin-bottom: 0.625em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.66666667em;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.71428571em;
}

h4 {
    font-size: 1.3em;
    margin-bottom: 0.76923077em;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 0.83333333em;
}

h6 {
    font-size: 1.1em;
    margin-bottom: 0.90909091em;
}

p {
    font-size: 1em;
    margin-bottom: 2em;
}

a {
    display: block;
}

img {
    display: inline-block;
    max-width: 100%;
}

br {
    margin-bottom: 1em;
}

// em {
//     color: $green;
// }

strong {
    font-weight: bold;
}

abbr, acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}