/*  This is the global page, where styles that never change are defined. */

body {
    background-color: white;
    font-family: $cabin;
}

#container {
    @include container;
}

// Top Section //

#top {
    background-color: $yellow;
}

.nav {
    background-color: $black;
    border: 1px solid $light-yellow;
    @include border-radius(5px);
    // width: 100%;
}

.nav-links {
    display: inline-block;
    font-weight: 700;
    margin-right: -0.25em;
    text-align: center;
}

// Main Section //

.title, .sub-title {
  font-family: $cabin-sketch;
}

// About Section //

#about {
    background-color: $light-grey;
    color: $blue;
    & .title {
        color: $green;
    }
}

.name {
    color: $red;
    font-family: $cabin-sketch;
    // font-size: 1.2em;
}

.highlight {
    background-color: $red;
    // color: $red;
    // padding: 0.2em;
}

// Projects Section //

#projects {
    background-color: $orange;
    & .title {
        color: $light-grey;
    }
}

// Skills Section //

#skills {
    background-color: $blue;
    color: $light-grey;
    & .title {
        color: $red;
    }
    & .sub-title {
        color: $red;
    }
}

.skills-list {
    list-style-position: inside;
    list-style-image: url(../assets/list-diamond.svg);
}

.workplace, .job {
    font-weight: 700;
}

.workplace {
    margin: 0;
}

.job {
    color: $green;
}

// Contact Section //

#contact {
    background-color: $red;
    color: $blue;
    & .title {
        color: $blue;
    }
}

// Footer Section //

.bottom {
    background-color: $black;
    color: $white;
    text-align: center;
}