/*  This is the global page, where styles that never change are defined. */

body {
    background-color: white;
    font-family: $cabin;
    min-width: 300px;
}

#container {
    height: 100%;
    @include container;
}

#top, #main, #bottom {
    @include span(4);
}

// Top Section. //

#top {
    background-color: $yellow;
    height: 3.8em;
    min-width: 300px;
    padding: 0.5em 2.5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.nav {
    background-color: $yellow;
    border: 1px solid $white;
    @include border-radius(5px);
}

.n-link {
    display: inline-block;
    font-weight: 700;
    margin-right: -0.21em;
    text-align: center;
    width: 25%;
    a {
        color: $black;
        font-size: 1em;
        padding: 0.5em;
        &:hover {
            background-color: $white;
            color: $black;
            text-decoration: none;
        }
        &.first-radius:hover {
            @include border-left-radius(5px);
        }
        &.last-radius:hover {
            @include border-right-radius(5px);
        }
    }
}

.active {
    background-color: $white;
    border: 1px solid $black;
    @include border-radius(5px);
    & a {
        text-decoration: none;
    }
}

// Main Section. //

.full-section {
    padding: 3.8em 0% 2em;
}

.sub-section {
    margin: 2em 0% 3em;
}

.title, .sub-title {
    font-family: $cabin-sketch;
    line-height: 1em;
}

.title {
    text-align: center;
    font-size: 4em;
    margin: 0.375em 0% 0.75em;
}

.sub-title {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.content {
    margin: 0 auto;
    width: 95%;
}

// About Section. //

#about {
    background-color: $light-grey;
    color: $blue;
    & .title {
        color: $green;
    }
}

.text {
    line-height: 1.5;
}

// Projects Section. //

#projects {
    background-color: $green;
    & .title {
        color: $light-grey;
    }
}

button {
    background-color: $light-grey;
    border: 3px solid $light-green;
    @include border-radius(5px);
    display: block;
    margin: 0em auto 3em;
    padding: 0.2em 1.5%;
    text-align: center;
    width: 75%;
    &:hover {
        border: 3px solid $red;
        & .p-title {
            text-decoration: underline;
        }
    }
}

.p-title, .p-subtitle {
    font-family: $cabin;
    margin-bottom: 0.1em;
}

.p-title {
    color: $red;
    font-size: 2em;
}

.p-subtitle {
    color: $blue;
    font-size: 1.5em;
}

// Skills Section. //

#skills {
    background-color: $blue;
    color: $light-grey;
    & .title {
        color: $red;
    }
    & .sub-title {
        color: $red;
    }
}

.s-list {
    list-style-position: inside;
    list-style-image: url(../assets/list-diamond.svg);
}

.workplace, .job {
    font-weight: 700;
}

.workplace {
    margin: 0;
}

.job {
    color: $green;
    font-size: 1em;
}

// Contact Section. //

#contact {
    background-color: $red;
    color: $blue;
    & .title {
        color: $blue;
    }
}

.c-label {
    color: $blue;
    font-family: $cabin-sketch;
    margin-bottom: 0.25em;
    text-align: center;
}

.c-links a {
    height: 50px;
    margin: 0em auto 1.25em;
    width: 50px;
}

// Footer Section. //

#bottom {
    background-color: $black;
    padding: 0.5em 2.5%;
    text-align: center;
}

.copyright {
    color: $yellow;
    font-size: 1em;
    margin: 0;
}