
@media screen and (min-width: 480px) {

    // Global Section. //

    a, li, p {
        font-size: 1.2em;
    }

    // Main Section. //

    .title {
        font-size: 4.2em;
    }

    .sub-title {
        font-size: 2.2em;
    }

    // Projects Section. //

    .p-title {
        font-size: 2.2em;
    }

    .p-subtitle {
        font-size: 1.7em;
    }

    // Contact Section. //
}

@media screen and (min-height: 640px) {
    #main {
        height: 100%;
    }

    #about, #projects, #contact {
        height: 100%;
    }
}

@media screen and (min-width: 960px) {

    // Top Section. //

    #top {
        @include span(3 wide of 15);
        height: 100%;
        right: auto;
        bottom: 0;
        min-width: 0;
        z-index: auto;
    }

    nav {
        height: 70%;
        position: relative;
        top: 15%;
    }

    .nav {
        height: 100%;
    }

    .n-link {
        height: 25%;
        width: 100%;
        a {
            font-size: 2em;
            height: 100%;
            padding-top: 1.65em;
            width: 100%;
            &.first-radius:hover {
                @include border-left-radius(0px);
                @include border-top-radius(5px);
            }
            &.last-radius:hover {
                @include border-right-radius(0px);
                @include border-bottom-radius(5px);
            }
        }
    }

    // Main Section. //

    // #main {
    //     height: 100%;
    // }
    
    #main {
        @include span(12 of 15 last);
    }

    // #about, #projects, #contact {
    //     height: 100%;
    // }

    #about, #projects, #skills, #contact {
        @include clearfix;
    }

    // Skills Section. //

    .core, .workflow {
        @include span(4 of 12);
    }

    .tools {
        @include span(4 of 12 last);
    }

    .work {
        @include span(12 of 12);
    }

    // Footer. //

    // #bottom {
    //     @include span(12 of 15 last);
    // }
}