/* This is the state page, it is where the layout is defined based on device */

/* ========================================================
   Media Queries.
   ======================================================== */

@media screen and (min-width: $smallest-width) {

    #top, #main, .full-section, #bottom {
        @include span(4);
    }

    // Top Section. //

   #top {
        height: 3.8em;
        padding: 0.5em 2.5%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }



    .nav-links {
        width: 25%;
        a {
            color: $yellow;
            font-size: 1em;
            padding: 0.5em;
            &.active {
                color: $black;
            }
            &.radius-right:hover, &.radius-left:hover, &:hover {
                background-color: $white;
                border: 1px solid $black;
                @include border-radius(5px);
                color: $black;
            }
            &.radius-left:hover {
                @include border-left-radius(5px);
            }
            &.radius-right:hover {
                @include border-right-radius(5px);
            }
            &.no-radius:hover {
                @include border-radius(5px);
            }
        }
    }

    .active {
        background-color: $white;
        border: 1px solid $black;
        @include border-radius(5px);
        text-decoration: none;
    }

    // Main Section. //


    .full-section {
        padding: 3.8em 2.5% 2em;
    }

    .sub-section {
        margin: 2em 0% 3em;
    }

    .title {
        font-size: 4em;
        line-height: 1em;
        margin: 0.375em 0% 0.75em;
        text-align: center;
        width: 95%;
    }

    .sub-title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    // Projects Section. //

    button {
        background-color: $light-grey;
        border: 3px solid $light-green;
        @include border-radius(5px);
        display: block;
        margin: 0em auto 3em;
        padding: 0.2em 1.5%;
        text-align: center;
        width: 75%;
        &:hover {
            border: 3px solid $red;
            & .button-title {
                text-decoration: underline;
            }
        }
    }

    .button-title, .button-subtitle {
        font-family: $cabin;
        margin-bottom: 0.1em;
    }

    .button-title {
        color: $red;
        font-size: 2em;
    }

    .button-subtitle {
        color: $blue;
        font-size: 1.5em;
    }

    // Skills Section. //

    .job {
        font-size: 1em;
    }

    // Contact Section. //

    .contact-list {
        text-align: center;
    }

    .contact-label {
        color: $blue;
        font-family: $cabin-sketch;
        margin-bottom: 0.25em;
    }

    .contact-links {
        height: 50px;
        margin: 0em auto 1.25em;
        width: 50px;
    }

    // Footer Section. //

    #bottom {
        padding: 0.5em 2.5%;
    }

    .copyright {
        color: $yellow;
        font-size: 1em;
        margin: 0;
    }
}