/* This is the state page, it is where the layout is defined based on device */

/* ========================================================
   Media Queries.
   ======================================================== */

@media screen and (min-width: $small-width) {

    #top, #main, .full-section, #bottom {
        @include span(4);
    }

    // Top Section. //

   #top {
        height: 3.8em;
        padding: 0.5em 2.5%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }



    .nav-links {
        width: 25%;
        a {
            color: $yellow;
            font-size: 1em;
            padding: 0.5em;
            text-decoration: none;
            &.active {
                color: $black;
            }
            &.radius-right:hover, &.radius-left:hover, &:hover {
                background-color: $white;
                border: 1px solid $black;
                @include border-radius(5px);
                color: $black;
            }
            &.radius-left:hover {
                @include border-left-radius(5px);
            }
            &.radius-right:hover {
                @include border-right-radius(5px);
            }
            &.no-radius:hover {
                @include border-radius(5px);
            }
        }
    }

    .active, .active:hover {
        background-color: $white;
        border: 1px solid $black;
        @include border-radius(5px);
        text-decoration: underline;
    }

    // Main Section. //


    .full-section {
        padding: 3.8em 2.5% 1em;
    }

    .sub-section {
        margin: 2em 0% 3em;
    }

    .title {
        font-size: 4em;
        margin: 0.50em 0% 0.75em;
        text-align: center;
    }

    .sub-title {
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    // Projects Section. //

    .row {
        @include span(4);
        // height: 4em;
        margin-bottom: 1em;
        // vertical-align: middle;
    }

    .link-label, .moreinfo-label {
        color: $light-grey;
        font-family: $cabin-sketch;
        margin: 0;
    }

    .link-label {
        @include span(3);
    }


    .moreinfo-label {
        @include span(1 last);
        text-align: center;
    }

    button {
        @include span(3);
        background-color: $light-grey;
        border: 3px solid $light-grey;
        @include border-radius(5px);
        padding: 0.2em 1.5%;
        text-align: center;
        &:hover {
            border: 3px solid $blue;
        }
    }

    .button-title, .button-subtitle {
        font-family: $cabin;
    }

    .button-title {
        color: $green;
        font-size: 2em;
        margin-bottom: 0.1em;
        text-decoration: underline;
    }

    .button-subtitle {
        color: $blue;
        font-size: 1.5em;
        margin: 0em auto;
    }

    .more-info {
        @include span(1 last);
        height: 3em;
    }


    // Skills Section. //

    .job {
        font-size: 1em;
    }

    // Contact Section. //

    .contact-links {
        height: 50px;
        margin: 0em auto 1.5em;
        width: 50px;
    }

    // Footer Section. //

    #bottom {
        padding: 0.5em 2.5%;
    }

    .copyright {
        font-size: 1em;
        margin: 0;
        text-align: center;
        // vertical-align: middle;
    }
}