// Imports - Compass (Reset, CSS3, Utilities, Susy, Breakpoint) //
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "grids";
@import "breakpoint";

// Initial Susy Settings //

$susy: (
    columns: 4,
    global-box-sizing: border-box,
);

@include border-box-sizing;

// Font Variables //

$font-family-primary: 'Cabin', sans-serif;
$font-family-secondary: 'Cabin Sketch', cursive;

// Breakpoint Variables //

$phone-width: 320px 400px;

// Color Variables //

$red: #DF4949;
$orange: #E27A3F;
$yellow: #EFC94C;
$green: #45B29D;
$blue: #334D5C;
$black: #454545;
$white: #FFFFFF;

// Base Styles - Starting point after CSS reset. //

html, body {
    color: $blue;
    font-family: $font-family-secondary;
    font-size: 16px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
    font-weight: bold;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
}

p, fieldset, table, pre {
    margin-bottom: 1rem;
}

a {
    display: block;
}

img {
    display: inline-block;
    max-width: 100%;
}

blockquote, ul, ol, dl {
    // margin: 1rem;
}

li {
    display: inline-block;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

abbr, acronym {
    border-bottom: 1px dotted #000;
    cursor: help;
}

// Global Styles //

.container {
    @include container;
    height: 100%;   
}

.top {
    padding: 0 2.5%;
    text-align: center;
}

.nav-link {
    color: $black;
    font-family: $font-family-primary;
    text-align: center;
}

.main {
    margin-top: 1rem;
    padding: 0 2.5%;
}

.title {
    color: $red;
    text-align: center;
}

.keyword {
    color: $orange;
}

.footer {
    text-align: center;
}

.social-links {
    margin: 0rem 1rem;
}

.copyright {
    color: $black;
    font-family: $font-family-primary;
}

// //

@include breakpoint($phone-width) {

    .top {
        @include span(4);
        background-color: $yellow;
        height: 4.5rem;
        padding-top: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .nav {
        border: 1px solid $black;
    }

    .nav-link {
        width: 32.5%;
        a {
            color: $black;
            padding: 0.5rem;
            text-decoration: none;
            &:hover {
                background-color: $white;
                color: $black;

            }
        }
    }

    .active {
        background-color: $white;
        color: $black;
    }

    .main {
        @include span(4);
        margin: 6rem 0rem 2rem;
    }

    .footer {
        @include span(4);
    }

    .social-links {
    height: 3rem;
    width: 12%;
    }
}