// Screen
// ======
@import "compass/reset";
@import "compass/css3";
@import "grids";
@import "breakpoint";

$susy: (
    columns: 2,
    global-box-sizing: border-box,
);

@include border-box-sizing;

img {
    max-width: 100%;
}

.container {
    @include container;
}

.nav {
    @include span(2);
}

.window {
    @include span(2);
}

.nav-links {
}