/*  This is a starter page where a project is initialized from. Includes CSS Reset, initial 
  settings for plug-ins, and base styles to be applied after the reset. */

/* ============================================================
 Susy Settings.
 ============================================================ */

@import "../bower_components/susy/sass/susy";     // Importing Susy Grid Framework into Project.

$susy: (
  columns: 4,                                     // Start with 4 columns in grid.
  global-box-sizing: border-box,                  // Set up Border Box sizing.
  gutters: 1/4,                                   // Column gutters 1/4 size of columns.
);

@include global-box-sizing;

/* ============================================================
 Typefaces / Fonts.
 ============================================================ */

$francois-one: 'Francois One', sans-serif;
$open-sans: 'Open Sans', sans-serif;

/* ============================================================
 Color Variables.
 ============================================================ */

$green: #45B29D;

$blue: #334D5C;
$light-blue: #476170;
$lightest-blue: #D3EDFC;

/* ============================================================
 Base Styles.
 ============================================================ */

html, body {
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  width: 100%;
}

h1 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.66666667em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 0.71428571em;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 0.76923077em;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 0.83333333em;
}

h6 {
  font-size: 1.1em;
  margin-bottom: 0.90909091em;
}

p {
  font-size: 1em;
  margin: 1.5em 0;                                  // Setting up Vertical Rhythm for text.
}

a {
  display: block;
}

ul {
  list-style-position: inside;
  list-style-image: url(../assets/list-diamond.svg);
}

img {
  display: block;
  max-width: 100%;
}

br {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}