/* This is the global page, where styles that never change are defined. */

body {
  color: $white;
  font-family: $open-sans;
  font-weight: 400;
  min-width: 300px;
}

.site {
  @include container;
}

.site__header, .site__main, .site__footer {
  @include span(4);
}

.hide {
  display: none;
}

// Site Header. //

.site__header {
  background: $light-blue;
  min-width: 300px;
  padding: 0.5em 2.5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.site__header nav {
  background-color: $light-blue;
  border: 1px solid $white;
  border-radius: 5px;
}

.site__header ul {
  margin: 0;
}

.site__header li {
  display: inline-block;
  margin-right: -0.26em;
  width: 25%;
}

.site__header__navlink {
  background-color: $light-blue;
  color: $white;
  font-family: $francois-one;
  font-size: 1em;
  letter-spacing: 0.05em;
  padding: 0.25em;
  text-align: center;
  text-decoration: none;
  &:hover, &:active {
      background: $white;
      color: $green;
  }
}

.site__header__navlink.f-radius {
  border-radius: 5px 0 0 5px;
}

.site__header__navlink.l-radius {
  border-radius: 0 5px 5px 0;
}

.active {
  background: $white;
  color: $green;
}

// Site Main. //

.page {
  background-color: $blue;
  padding: 3.6em 0;
}

.page::after {
  content: "";
  display: table;
  clear: both;
}

.page__header__title, .page__subtitle {
  color: $green;
  font-family: $francois-one;
  letter-spacing: 0.025em;
}

.page__header__title, .page__subtitle, .text {
  text-align: center;
}


.page__header__title {
  font-size: 5em;
  margin: 0.3em 0;
  text-shadow: 8px 8px 0 rgba(0,0,0,0.25)
}

.page__subtitle {
  font-size: 2.5em;
  margin: 0.4em 0;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.25)
}

.page__header, .page__container {
  margin: 0 auto;
  width: 95%;
}

// About Page. //



// Skills Page. //

.skills-list {
  margin: 3em 0;
}

.workplace, .job {
  color: $green;
  font-family: $open-sans;
  margin: 0;
}

.workplace {
  font-size: 1.75em;
}

.job {
  font-size: 1.25em;
}

// Projects Page. //

.project {
  background-color: $light-green;
  border: 4px solid $light-green;
  border-radius: 5px;
  box-shadow: inset -4px -4px 8px 0 rgba(0, 0, 0, .1), inset 4px 4px 8px 0 rgba(0, 0, 0, .1);
  display: block;
  margin: 0 auto 3em;
  padding: 0.5em 1.5%;
  text-align: center;
  @include span(4);
  &:hover {
      border: 4px solid $green;
  }
}

.project__title, .project__subtitle {
  color: $white;
  font-family: $francois-one;
  letter-spacing: 0.025em;
  margin: 0;
}

.project__title {
  font-size: 1.25em;
}

// Contact Page. //

.contact-email {
  color: $green;
  display: inline-block;
  text-decoration: underline;
}

.contact-list {
  margin: 2.5em 0;
}

.contact-list__link {
  display: inline-block;
  margin: 0 12%;
  width: 25%;
  & a {
    text-decoration: none;
  }
}

.contact-list__link__label {
  color: $green;
  font-family: $open-sans;
  margin: 0.75em 0;
  text-align: center;
}

.contact-list__link__icon {
  border-radius: 5px;
  margin-bottom: 1.75em;
}

// Site Footer. //

.site__footer {
  background-color: $blue;
  padding: 0.5em 2.5%;
  text-align: center;
}

.site__footer__copyright {
  color: $white;
  font-family: $francois-one;
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.05em;
}