
@media screen and (min-width: 480px) {

    // Main Section. //

    .title {
        font-size: 4.2em;
    }

    .sub-title {
        font-size: 2.7em;
    }

    // Projects Section. //

    .p-title {
        font-size: 2.2em;
    }

    .p-subtitle {
        font-size: 1.7em;
    }

    // Contact Section. //
}

@media screen and (min-width: 960px) {

    // Top Section. //

    #top {
        @include span(3 wide of 15);
        height: 100%;
        right: auto;
        bottom: 0;
        min-width: 0;
        z-index: auto;
    }

    .n-link {
        height: 25%;
        width: 100%;
        a {
            font-size: 2em;
            height: 100%;
            padding-top: 1.65em;
            width: 100%;
            &.first-radius:hover {
                border-radius: 5px 5px 0 0;
            }
            &.last-radius:hover {
                border-radius: 0 0 5px 5px;
            }
        }
    }

    // Main Section. //
    
    #main {
        @include span(12 of 15 last);
    }

    section {
        padding: 2em 0%;
    }

    .sub-section {
        margin-top: 0;
    }

    .title {
        font-size: 5em;
        margin-top: 0;
    }

    .sub-title {
        border-top: 0.12em solid $light-blue;
        font-size: 3.5em;
    }

    // About Section. //

    #about .title {
        float: right;
        margin: 0;
    }

    .name-card {
        clear: right;
        float: left;
    }

    .text {
        clear: right;
        float: right;
    }

    // Skills Section. //

    #skills:after {
        content: "";
        display: table;
        clear: both;
    }

    .core, .workflow {
        @include span(4 of 12);
    }

    .tools {
        @include span(4 of 12 last);
    }

    .work {
        @include span(12 of 12);
    }

    // Footer. //

    #bottom {
        display: none;
    }
}