/* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/custom.scss */
body {
  margin: 0em;
}

/* line 13, ../sass/custom.scss */
ul {
  list-style: none;
  padding-left: 0em;
}

/* line 18, ../sass/custom.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../sass/custom.scss */
.nav {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-right: 0em;
  padding-left: 8.47458%;
}

/* line 28, ../sass/custom.scss */
.window {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}
