/*  This is a starter page where a project is initialized from. Includes CSS Reset, initial 
    settings for plug-ins, and base styles to be applied after the reset. */
/* ============================================================
   Imports - Compass (Reset, CSS3, Utilities, Susy, Breakpoint).
   ============================================================ */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ============================================================
   Establish Vertical Rhythm, PX fall back for IE8 in Compass.
   ============================================================ */
/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* ============================================================
   Susy Settings.
   ============================================================ */
/* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ============================================================
   Typefaces / Fonts.
   ============================================================ */
@font-face {
  font-family: 'Comic Serif Pro';
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot");
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../typeface/hvd_comic_serif_pro-webfont.woff2") format("woff2"), url("../typeface/hvd_comic_serif_pro-webfont.woff") format("woff"), url("../typeface/hvd_comic_serif_pro-webfont.ttf") format("truetype"), url("../typeface/hvd_comic_serif_pro-webfont.svg#hvd_comic_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ============================================================
   Breakpoint Variables.
   ============================================================ */
/* ============================================================
   Color Variables.
   ============================================================ */
/* ============================================================
   Base Styles.
   ============================================================ */
/* line 93, ../sass/_base.scss */
html {
  height: 100%;
}

/* line 97, ../sass/_base.scss */
body {
  min-height: 100%;
}

/* line 101, ../sass/_base.scss */
h1 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}

/* line 106, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.66666667em;
}

/* line 111, ../sass/_base.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 0.71428571em;
}

/* line 116, ../sass/_base.scss */
h4 {
  font-size: 1.3em;
  margin-bottom: 0.76923077em;
}

/* line 121, ../sass/_base.scss */
h5 {
  font-size: 1.2em;
  margin-bottom: 0.83333333em;
}

/* line 126, ../sass/_base.scss */
h6 {
  font-size: 1.1em;
  margin-bottom: 0.90909091em;
}

/* line 131, ../sass/_base.scss */
p {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 136, ../sass/_base.scss */
a {
  display: block;
}

/* line 140, ../sass/_base.scss */
img {
  display: inline-block;
  max-width: 100%;
}

/* line 145, ../sass/_base.scss */
br {
  margin-bottom: 1em;
}

/* line 149, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 153, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 157, ../sass/_base.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/*  This is the global page, where styles that never change are defined. */
/* line 3, ../sass/_global.scss */
body {
  background-color: white;
  font-family: "Cabin", arial, sans-serif;
}

/* line 8, ../sass/_global.scss */
#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 14, ../sass/_global.scss */
#top {
  background-color: #EFC94C;
}

/* line 18, ../sass/_global.scss */
.nav {
  background-color: #454545;
  border: 1px solid #FFDD60;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 25, ../sass/_global.scss */
.nav-links {
  display: inline-block;
  font-weight: 700;
  margin-right: -0.25em;
  text-align: center;
}

/* line 34, ../sass/_global.scss */
.title, .sub-title {
  font-family: "Comic Serif Pro", georgia, serif;
}

/* line 40, ../sass/_global.scss */
#about {
  background-color: #F3F3F3;
  color: #334D5C;
}
/* line 43, ../sass/_global.scss */
#about .title {
  color: #E27A3F;
}

/* line 48, ../sass/_global.scss */
.name {
  color: #F68E53;
  font-family: "Comic Serif Pro", georgia, serif;
}

/* line 54, ../sass/_global.scss */
.highlight {
  color: #45B29D;
}

/* line 61, ../sass/_global.scss */
#projects {
  background-color: #E27A3F;
}
/* line 63, ../sass/_global.scss */
#projects .title {
  color: #F3F3F3;
}

/* line 70, ../sass/_global.scss */
#skills {
  background-color: #F3F3F3;
  color: #334D5C;
}
/* line 73, ../sass/_global.scss */
#skills .title {
  color: #E27A3F;
}
/* line 76, ../sass/_global.scss */
#skills .sub-title {
  color: #F68E53;
}

/* line 81, ../sass/_global.scss */
.skills-list {
  list-style-position: inside;
  list-style-image: url(../assets/list-diamond.svg);
}

/* line 86, ../sass/_global.scss */
.workplace, .job {
  font-weight: 700;
}

/* line 90, ../sass/_global.scss */
.workplace {
  margin: 0;
}

/* line 94, ../sass/_global.scss */
.job {
  color: #45B29D;
}

/* line 100, ../sass/_global.scss */
#contact {
  background-color: #E27A3F;
  color: #45B29D;
}
/* line 103, ../sass/_global.scss */
#contact .title {
  color: #F3F3F3;
}

/* line 110, ../sass/_global.scss */
.bottom {
  background-color: #454545;
  color: #FFFFFF;
  text-align: center;
}

/* This is the state page, it is where the layout is defined based on device */
/* ========================================================
   Media Queries.
   ======================================================== */
@media screen and (min-width: 320px) {
  /* line 9, ../sass/_layout.scss */
  #top, #main, .full-section, #bottom {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 15, ../sass/_layout.scss */
  #top {
    height: 3.8em;
    padding: 0.5em 2.5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  /* line 27, ../sass/_layout.scss */
  .nav-links {
    width: 25%;
  }
  /* line 29, ../sass/_layout.scss */
  .nav-links a {
    color: #EFC94C;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
  }
  /* line 34, ../sass/_layout.scss */
  .nav-links a.active {
    color: #454545;
  }
  /* line 37, ../sass/_layout.scss */
  .nav-links a.radius-right:hover, .nav-links a.radius-left:hover, .nav-links a:hover {
    background-color: #FFFFFF;
    border: 1px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #454545;
  }
  /* line 43, ../sass/_layout.scss */
  .nav-links a.radius-left:hover {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* line 46, ../sass/_layout.scss */
  .nav-links a.radius-right:hover {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* line 49, ../sass/_layout.scss */
  .nav-links a.no-radius:hover {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  /* line 55, ../sass/_layout.scss */
  .active, .active:hover {
    background-color: #FFFFFF;
    border: 1px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: underline;
  }

  /* line 65, ../sass/_layout.scss */
  .full-section {
    padding: 3.8em 2.5% 1em;
  }

  /* line 69, ../sass/_layout.scss */
  .sub-section {
    margin: 2em 0% 3em;
  }

  /* line 73, ../sass/_layout.scss */
  .title {
    font-size: 4em;
    margin: 0.50em 0% 0.75em;
    text-align: center;
  }

  /* line 79, ../sass/_layout.scss */
  .sub-title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  /* line 86, ../sass/_layout.scss */
  #projects .title {
    margin-bottom: 0.75em;
  }

  /* line 90, ../sass/_layout.scss */
  .row {
    height: 4em;
    margin-bottom: 1em;
    vertical-align: middle;
  }

  /* line 96, ../sass/_layout.scss */
  .labels {
    color: #F3F3F3;
    margin-bottom: 1em;
  }

  /* line 101, ../sass/_layout.scss */
  .link-label {
    width: 73.68421%;
    float: left;
    margin-right: 5.26316%;
    margin: 0;
  }

  /* line 107, ../sass/_layout.scss */
  .moreinfo-label {
    width: 21.05263%;
    float: right;
    margin-right: 0;
    margin: 0;
  }

  /* line 112, ../sass/_layout.scss */
  button {
    width: 73.68421%;
    float: left;
    margin-right: 5.26316%;
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.2em 1.5%;
    text-align: center;
  }
  /* line 119, ../sass/_layout.scss */
  button:hover {
    border: 1px solid #45B29D;
  }

  /* line 124, ../sass/_layout.scss */
  .button-title, .button-subtitle {
    font-family: "Cabin", arial, sans-serif;
  }

  /* line 128, ../sass/_layout.scss */
  .button-title {
    color: #45B29D;
    font-size: 2em;
    margin-bottom: 0.1em;
    text-decoration: underline;
  }

  /* line 135, ../sass/_layout.scss */
  .button-subtitle {
    color: #334D5C;
    font-size: 1.5em;
    margin: 0em auto;
  }

  /* line 141, ../sass/_layout.scss */
  .more-info {
    width: 21.05263%;
    float: right;
    margin-right: 0;
    height: 3em;
  }

  /* line 149, ../sass/_layout.scss */
  .job {
    font-size: 1em;
  }

  /* line 155, ../sass/_layout.scss */
  .contact-links {
    height: 50px;
    margin: 0em auto 1.5em;
    width: 50px;
  }

  /* line 163, ../sass/_layout.scss */
  #bottom {
    padding: 0.5em 2.5%;
  }

  /* line 167, ../sass/_layout.scss */
  .copyright {
    font-size: 1em;
    margin: 0;
    text-align: center;
  }
}
