/*  This is a starter page where a project is initialized from. Includes CSS Reset, initial 
    settings for plug-ins, and base styles to be applied after the reset. */
/* ============================================================
   Imports - Compass (Reset, CSS3, Utilities, Susy, Breakpoint).
   ============================================================ */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ============================================================
   Susy Settings.
   ============================================================ */
/* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ============================================================
   Typefaces / Fonts.
   ============================================================ */
@font-face {
  font-family: 'Comic Serif Pro';
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot");
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../typeface/hvd_comic_serif_pro-webfont.woff2") format("woff2"), url("../typeface/hvd_comic_serif_pro-webfont.woff") format("woff"), url("../typeface/hvd_comic_serif_pro-webfont.ttf") format("truetype"), url("../typeface/hvd_comic_serif_pro-webfont.svg#hvd_comic_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ============================================================
   Breakpoint Variables.
   ============================================================ */
/* ============================================================
   Color Variables.
   ============================================================ */
/* ============================================================
   Base Styles.
   ============================================================ */
/* line 84, ../sass/_base.scss */
html, body {
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  width: 100%;
}

/* line 91, ../sass/_base.scss */
h1 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}

/* line 96, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.66666667em;
}

/* line 101, ../sass/_base.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 0.71428571em;
}

/* line 106, ../sass/_base.scss */
h4 {
  font-size: 1.3em;
  margin-bottom: 0.76923077em;
}

/* line 111, ../sass/_base.scss */
h5 {
  font-size: 1.2em;
  margin-bottom: 0.83333333em;
}

/* line 116, ../sass/_base.scss */
h6 {
  font-size: 1.1em;
  margin-bottom: 0.90909091em;
}

/* line 121, ../sass/_base.scss */
p {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 126, ../sass/_base.scss */
a {
  display: block;
}

/* line 130, ../sass/_base.scss */
img {
  display: inline-block;
  max-width: 100%;
}

/* line 135, ../sass/_base.scss */
br {
  margin-bottom: 1em;
}

/* line 143, ../sass/_base.scss */
strong {
  font-weight: bold;
}

/* line 147, ../sass/_base.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* This is the global page, where styles that never change are defined. */
/* line 3, ../sass/_global.scss */
body {
  background-color: #334D5C;
  color: #F3F3F3;
  font-family: "Istok Web", sans-serif;
  font-weight: 300;
  min-width: 300px;
}

/* line 11, ../sass/_global.scss */
#container {
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 16, ../sass/_global.scss */
#top, #main, #bottom {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 22, ../sass/_global.scss */
#top {
  background-color: #F3F3F3;
  height: 3.5em;
  min-width: 300px;
  padding: 0.5em 2.5%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/* line 34, ../sass/_global.scss */
.nav {
  background-color: #F3F3F3;
  margin-left: -0.13em;
}

/* line 39, ../sass/_global.scss */
.n-link {
  background-color: #476170;
  box-shadow: 0px 4px 0px 0px #334D5C;
  display: inline-block;
  margin-right: -0.20em;
  text-align: center;
  width: 25%;
}
/* line 46, ../sass/_global.scss */
.n-link a {
  color: #F3F3F3;
  font-family: "Istok Web", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 0.5em;
  text-decoration: none;
}
/* line 53, ../sass/_global.scss */
.n-link a:hover {
  color: #45B29D;
}
/* line 56, ../sass/_global.scss */
.n-link a:active {
  color: #45B29D;
}

/* line 62, ../sass/_global.scss */
.n-link.f-radius {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 66, ../sass/_global.scss */
.n-link.l-radius {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 70, ../sass/_global.scss */
.n-link.f-radius:active {
  box-shadow: inset 0px 3px 0px 0px #F3F3F3, 0px 3px 0px 0px #476170, 0px 1px 0px 0px #334D5C;
}

/* line 74, ../sass/_global.scss */
.n-link.l-radius:active {
  box-shadow: inset 0px 3px 0px 0px #F3F3F3, 0px 3px 0px 0px #476170, 0px 1px 0px 0px #334D5C;
}

/* line 78, ../sass/_global.scss */
.n-link:active {
  box-shadow: inset 0px 3px 0px 0px #F3F3F3, 0px 3px 0px 0px #476170, 0px 1px 0px 0px #334D5C;
}

/* line 84, ../sass/_global.scss */
.full-section {
  padding: 3.8em 0% 2em;
}

/* line 88, ../sass/_global.scss */
.sub-section {
  margin: 2em 0% 3em;
}

/* line 92, ../sass/_global.scss */
.title, .sub-title {
  color: #45B29D;
  font-family: "Istok Web", sans-serif;
}

/* line 97, ../sass/_global.scss */
.title {
  font-size: 4em;
  font-weight: 700;
  margin: 0.75em 0%;
  text-align: center;
}

/* line 104, ../sass/_global.scss */
.sub-title {
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

/* line 110, ../sass/_global.scss */
.content {
  margin: 0 auto;
  width: 95%;
}

/* line 120, ../sass/_global.scss */
button {
  background-color: #476170;
  border: 3px solid #476170;
  display: block;
  margin: 0em auto 3em;
  padding: 0.2em 1.5%;
  text-align: center;
  width: 100%;
}
/* line 128, ../sass/_global.scss */
button:hover {
  border: 3px solid #45B29D;
}
/* line 130, ../sass/_global.scss */
button:hover .p-title {
  text-decoration: none;
}

/* line 136, ../sass/_global.scss */
.p-title, .p-subtitle {
  font-family: "Istok Web", sans-serif;
  margin-bottom: 0.1em;
}

/* line 141, ../sass/_global.scss */
.p-title {
  color: #45B29D;
  font-size: 2em;
  font-weight: 400;
}

/* line 147, ../sass/_global.scss */
.p-subtitle {
  color: #F3F3F3;
  font-size: 1.5em;
  font-weight: 300;
}

/* line 155, ../sass/_global.scss */
.s-list {
  list-style-position: inside;
  list-style-image: url(../assets/list-diamond.svg);
}

/* line 160, ../sass/_global.scss */
.workplace, .job {
  font-family: "Istok Web", sans-serif;
}

/* line 164, ../sass/_global.scss */
.workplace {
  color: #45B29D;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0;
}

/* line 171, ../sass/_global.scss */
.job {
  color: #F3F3F3;
  font-size: 1.25em;
  font-weight: 300;
}

/* line 179, ../sass/_global.scss */
.c-label {
  color: #45B29D;
  font-family: "Istok Web", sans-serif;
  font-weight: 300;
  margin-bottom: 0.25em;
  text-align: center;
}

/* line 187, ../sass/_global.scss */
.c-link {
  display: inline-block;
  margin: 0em auto;
}

/* line 192, ../sass/_global.scss */
.c-icon {
  height: 50px;
  margin-bottom: 1.25em;
  width: 50px;
}

/* line 200, ../sass/_global.scss */
#bottom {
  background-color: #F3F3F3;
  padding: 0.5em 2.5%;
  text-align: center;
}

/* line 206, ../sass/_global.scss */
.copyright {
  color: #334D5C;
  font-family: "Istok Web", sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 480px) {
  /* line 6, ../sass/_layout.scss */
  .title {
    font-size: 4.2em;
  }

  /* line 10, ../sass/_layout.scss */
  .sub-title {
    font-size: 2.7em;
  }

  /* line 16, ../sass/_layout.scss */
  .p-title {
    font-size: 2.2em;
  }

  /* line 20, ../sass/_layout.scss */
  .p-subtitle {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 960px) {
  /* line 31, ../sass/_layout.scss */
  #top {
    width: 20.27027%;
    float: left;
    margin-right: 1.33333%;
    height: 100%;
    right: auto;
    bottom: 0;
    min-width: 0;
    z-index: auto;
  }

  /* line 40, ../sass/_layout.scss */
  nav {
    height: 70%;
    position: relative;
    top: 15%;
  }

  /* line 46, ../sass/_layout.scss */
  .nav {
    height: 100%;
  }

  /* line 50, ../sass/_layout.scss */
  .n-link {
    height: 25%;
    width: 100%;
  }
  /* line 53, ../sass/_layout.scss */
  .n-link a {
    font-size: 2em;
    height: 100%;
    padding-top: 1.65em;
    width: 100%;
  }
  /* line 58, ../sass/_layout.scss */
  .n-link a.first-radius:hover {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
  }
  /* line 62, ../sass/_layout.scss */
  .n-link a.last-radius:hover {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* line 71, ../sass/_layout.scss */
  #main {
    width: 79.72973%;
    float: right;
    margin-right: 0;
  }

  /* line 75, ../sass/_layout.scss */
  .full-section {
    padding: 2em 0%;
  }

  /* line 79, ../sass/_layout.scss */
  .sub-section {
    margin-top: 0;
  }

  /* line 83, ../sass/_layout.scss */
  .title {
    font-size: 5em;
    margin-top: 0;
  }

  /* line 88, ../sass/_layout.scss */
  .sub-title {
    font-size: 3.5em;
  }

  /* line 94, ../sass/_layout.scss */
  #about .title {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  /* line 100, ../sass/_layout.scss */
  .text {
    margin: 0 auto;
    width: 90%;
  }

  /* line 107, ../sass/_layout.scss */
  #skills {
    overflow: hidden;
    *zoom: 1;
  }

  /* line 111, ../sass/_layout.scss */
  .core, .workflow, .tools, .work {
    border-top: 0.4em solid #476170;
    padding-top: 0.8em;
  }

  /* line 116, ../sass/_layout.scss */
  .core, .workflow {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
  }

  /* line 120, ../sass/_layout.scss */
  .tools {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }

  /* line 124, ../sass/_layout.scss */
  .work {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 130, ../sass/_layout.scss */
  #bottom {
    display: none;
  }
}
