/* ============================================================
   Imports - Compass (Reset, CSS3, Utilities, Susy, Breakpoint).
   ============================================================ */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ============================================================
   Establish Vertical Rhythm, PX fall back for IE8 in Compass.
   ============================================================ */
/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* ============================================================
   Susy Settings.
   ============================================================ */
/* line 14, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ============================================================
   Typefaces / Fonts.
   ============================================================ */
@font-face {
  font-family: 'Comic Serif Pro';
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot");
  src: url("../typeface/hvd_comic_serif_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../typeface/hvd_comic_serif_pro-webfont.woff2") format("woff2"), url("../typeface/hvd_comic_serif_pro-webfont.woff") format("woff"), url("../typeface/hvd_comic_serif_pro-webfont.ttf") format("truetype"), url("../typeface/hvd_comic_serif_pro-webfont.svg#hvd_comic_serif_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ============================================================
   Breakpoint Variables.
   ============================================================ */
/* ============================================================
   Color Variables.
   ============================================================ */
/* ============================================================
   Base Styles.
   ============================================================ */
/* line 90, ../sass/style.scss */
html {
  height: 100%;
}

/* line 94, ../sass/style.scss */
body {
  min-height: 100%;
}

/* line 98, ../sass/style.scss */
h1 {
  font-size: 1.6em;
  margin-bottom: 0.625em;
}

/* line 103, ../sass/style.scss */
h2 {
  font-size: 1.5em;
  margin-bottom: 0.66666667em;
}

/* line 108, ../sass/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 0.71428571em;
}

/* line 113, ../sass/style.scss */
h4 {
  font-size: 1.3em;
  margin-bottom: 0.76923077em;
}

/* line 118, ../sass/style.scss */
h5 {
  font-size: 1.2em;
  margin-bottom: 0.83333333em;
}

/* line 123, ../sass/style.scss */
h6 {
  font-size: 1.1em;
  margin-bottom: 0.90909091em;
}

/* line 128, ../sass/style.scss */
p {
  font-size: 1em;
  margin-bottom: 2em;
}

/* line 133, ../sass/style.scss */
a {
  display: block;
}

/* line 137, ../sass/style.scss */
img {
  display: inline-block;
  max-width: 100%;
}

/* line 142, ../sass/style.scss */
br {
  margin-bottom: 1em;
}

/* line 146, ../sass/style.scss */
em {
  font-style: italic;
}

/* line 150, ../sass/style.scss */
strong {
  font-weight: bold;
}

/* line 154, ../sass/style.scss */
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* ============================================================
   Global Styles.
   ============================================================ */
/* line 163, ../sass/style.scss */
body {
  font-family: "Cabin", arial, sans-serif;
}

/* line 167, ../sass/style.scss */
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 171, ../sass/style.scss */
.title, .sub-title {
  font-family: "Comic Serif Pro", georgia, serif;
}

/* line 175, ../sass/style.scss */
.title {
  color: #E27A3F;
  text-align: center;
}

/* line 180, ../sass/style.scss */
.sub-title {
  color: #F68E53;
}

/* line 184, ../sass/style.scss */
.highlight {
  background-color: #45B29D;
  padding: 0.2em;
}

/* line 189, ../sass/style.scss */
.link {
  color: #334D5C;
  font-family: "Comic Serif Pro", georgia, serif;
  display: inline-block;
}
/* line 193, ../sass/style.scss */
.link:hover {
  text-decoration: none;
}

/* line 200, ../sass/style.scss */
li.nav-links {
  display: inline-block;
}

/* line 204, ../sass/style.scss */
.nav-links {
  font-family: "Cabin", arial, sans-serif;
  font-weight: 700;
  margin-right: -0.25em;
  text-align: center;
}

/* line 213, ../sass/style.scss */
.full-section {
  padding: 3em 2.5% 0em;
}

/* line 217, ../sass/style.scss */
.sub-section {
  padding: 1em 2.5% 0em;
}

/* line 223, ../sass/style.scss */
#about {
  background-color: #DF4949;
  color: #FFFFFF;
}
/* line 226, ../sass/style.scss */
#about .title {
  color: #334D5C;
}

/* line 233, ../sass/style.scss */
#projects {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #334D5C;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#projects:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 236, ../sass/style.scss */
#projects .title {
  color: #DF4949;
}

/* line 243, ../sass/style.scss */
#skills {
  background-color: #F3F3F3;
  color: #334D5C;
}
/* line 246, ../sass/style.scss */
#skills .title {
  color: #E27A3F;
}

/* line 251, ../sass/style.scss */
.skills-list {
  list-style-position: inside;
  list-style-image: url(../assets/list-diamond.svg);
}

/* line 258, ../sass/style.scss */
#contact {
  background-color: #E27A3F;
}

/* line 262, ../sass/style.scss */
#contact .title {
  color: #F3F3F3;
}

/* line 268, ../sass/style.scss */
.bottom {
  background-color: #454545;
  color: #FFFFFF;
  text-align: center;
}

/* ========================================================
   Media Queries.
   ======================================================== */
@media screen and (min-width: 320px) {
  /* line 282, ../sass/style.scss */
  .top {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: #EFC94C;
    height: 4.8em;
    padding: 1em 2.5%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  /* line 294, ../sass/style.scss */
  .nav {
    background-color: #454545;
    border: 1px solid #EFC94C;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
  }

  /* line 301, ../sass/style.scss */
  .nav-links {
    width: 25%;
  }
  /* line 303, ../sass/style.scss */
  .nav-links a {
    color: #EFC94C;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
  }
  /* line 308, ../sass/style.scss */
  .nav-links a.active {
    color: #454545;
  }
  /* line 311, ../sass/style.scss */
  .nav-links a.radius-right:hover, .nav-links a.radius-left:hover, .nav-links a:hover {
    background-color: #FFFFFF;
    border: 1px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #454545;
  }
  /* line 317, ../sass/style.scss */
  .nav-links a.radius-left:hover {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  /* line 320, ../sass/style.scss */
  .nav-links a.radius-right:hover {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  /* line 323, ../sass/style.scss */
  .nav-links a.no-radius:hover {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }

  /* line 329, ../sass/style.scss */
  .active, .active:hover {
    background-color: #FFFFFF;
    border: 1px solid #454545;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: underline;
  }

  /* line 338, ../sass/style.scss */
  .main {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 342, ../sass/style.scss */
  .full-section {
    padding-bottom: 4em;
  }

  /* line 346, ../sass/style.scss */
  .sub-section {
    margin: 2em 0%;
  }

  /* line 350, ../sass/style.scss */
  .title {
    font-size: 4em;
    height: auto;
    margin-bottom: 1em;
  }

  /* line 356, ../sass/style.scss */
  .sub-title {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  /* line 368, ../sass/style.scss */
  #projects .title {
    margin-bottom: 0.75em;
  }

  /* line 372, ../sass/style.scss */
  .row {
    height: 4em;
    margin-bottom: 1em;
    vertical-align: middle;
  }

  /* line 378, ../sass/style.scss */
  .labels {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #DF4949;
    margin-bottom: 1em;
    text-align: center;
  }
  /* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .labels:after {
    content: " ";
    display: block;
    clear: both;
  }

  /* line 385, ../sass/style.scss */
  .links-label {
    width: 73.68421%;
    float: left;
    margin-right: 5.26316%;
  }

  /* line 389, ../sass/style.scss */
  .moreinfo-label {
    width: 21.05263%;
    float: right;
    margin-right: 0;
  }

  /* line 393, ../sass/style.scss */
  button {
    width: 73.68421%;
    float: left;
    margin-right: 5.26316%;
    background-color: #476170;
    border: 1px solid #476170;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0.2em 1.5%;
    text-align: center;
  }
  /* line 400, ../sass/style.scss */
  button:hover {
    border: 1px solid #FFFFFF;
  }

  /* line 405, ../sass/style.scss */
  .button-title, .button-subtitle {
    font-family: "Cabin", arial, sans-serif;
    margin: 0 auto;
  }

  /* line 410, ../sass/style.scss */
  .button-title {
    color: #45B29D;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.1em;
    text-decoration: underline;
  }

  /* line 418, ../sass/style.scss */
  .button-subtitle {
    color: #F3F3F3;
    font-size: 1.5em;
    margin-bottom: 0;
  }

  /* line 424, ../sass/style.scss */
  .more-info {
    width: 21.05263%;
    float: right;
    margin-right: 0;
    height: 3em;
  }

  /* line 432, ../sass/style.scss */
  .workplace {
    margin: 0;
    font-weight: 700;
  }

  /* line 437, ../sass/style.scss */
  .job {
    color: #45B29D;
    font-size: 1em;
  }

  /* line 444, ../sass/style.scss */
  .contact-links {
    height: 50px;
    margin: 0em auto 1.5em;
    width: 50px;
  }

  /* line 452, ../sass/style.scss */
  .bottom {
    padding: 0.4em 0%;
  }

  /* line 456, ../sass/style.scss */
  .copyright {
    font-size: 0.8em;
    margin: 0;
    text-align: center;
    vertical-align: middle;
  }
}
